<h1>Listing majors</h1>

<%= form_tag({}, {:method => :get}) do %>

  Select a major: <%= select_tag :id, options_from_collection_for_select(Major.find(:all), :id, :name), {:onchange => "this.form.submit();", :selected => params[:id], :include_blank => true } %>
<% end %>

<% @selected = Major.find(params[:id]) %>


<p>Selected: <%= @selected.name %></p>

<% if (not @selected.courses.empty?) %>
<%= select_tag :id, options_from_collection_for_select(@selected.courses, :id, :name) %>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @majors.each do |major| %>
  <tr>
    <td><%= major.name %></td>
    <td><%= link_to 'Show', major %></td>
    <td><%= link_to 'Edit', edit_major_path(major) %></td>
    <td><%= link_to 'Destroy', major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Major', new_major_path %>
<%= link_to 'Display', display %>
